@{
    ViewData["Title"] = "Liste des Véhicules";
}
<h1>@ViewData["Title"]</h1>
@if(User.IsInRole("Admin")){
    <div class="col-auto">
        <a class="btn btn-primary" asp-action="Create">Ajouter un véhicule</a>
    </div>
}
<table class="customTable" id="vehiclesTable">
</table>
<ul class="list-group list-group-horizontal list-unstyled symbolExplanation">
    @if(User.IsInRole("Admin"))
    {
        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16"><path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"></path><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"></path></svg></a> - Ajouter une expertise</li>
        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path></svg></a> - Détail du véhicule</li>
        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path></svg></a> - Modifier le véhicule</li>
        <li><a href="#" class="text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path></svg></a> - Supprimer le véhicule</li>
    }
    else if(User.IsInRole("Employee"))
    {
        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path></svg></a> - Détail du véhicule</li>
    }
</ul>
@section Links {
    <link href="https://cdn.datatables.net/v/bs5/dt-2.2.2/cr-2.0.4/sp-2.3.3/datatables.min.css" rel="stylesheet" integrity="sha384-e1+ByJTaytMT6Htvt7psIDKBlPeVIFAsiuLxwwn4Pkdy+IBdg1VxtkwXV00zylkJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
}
@section Modal {
    <div class="modal fade" id="addExpertiseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title me-2" id="exampleModalLabel">Ajouter une expertise</h5>
                    <h5 class="modal-title" id="registration"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input id="vehicleId" hidden />
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input id="date" class="form-control" aria-required="true" placeholder="Date" type="datetime-local" />
                                <label for="date">Date</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <select id="userId" class="selectpicker" asp-items="ViewBag.UserSelectList" data-live-search="true">
                                <option value="@null">Employé</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="$('#addExpertiseModal').modal('toggle');">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="addExpertise()">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/cr-2.0.4/sp-2.3.3/datatables.min.js" integrity="sha384-HKgG2rDvMdhDpBvNEKozdvGNQ/JWALSwHW9SP/fdCG0JMLdjYg1cLktf9jf+a5RJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/i18n/defaults-*.min.js"></script>

<script>
    var table;
    var message = @Json.Serialize(ViewData["Message"]);
    $(document).ready(function() {
        table = $('#vehiclesTable').DataTable({
            rowId: 'id',
            language: {
                url: '/lib/datatablesFrench.json',
            },
            ajax: {
                url: '/Vehicles/GetVehicles',
                dataSrc:'',
                type: 'GET'
            },
            columnDefs: [
                {
                    target: 0,
                    data: "model",
                    title: "Modèle"
                },
                {
                    target: 1,
                    data: "registration",
                    title: "Immatriculation"
                },
                {
                    target: 2,
                    data: "make",
                    title: "Marque"
                },
                {
                    target: 3,
                    data: "type",
                    title: "Type"
                },
                {
                    target: 4,
                    data: "mileage",
                    title: "Kilométrage"
                },
                {
                    target: 5,
                    data: "vin",
                    title: "VIN"
                },
                {
                    target: 6,
                    data: "nextExpertise",
                    title: "Prochaine expertise",
                    type: "date",
                },
                {
                    target: 7,
                    data: "id",
                    width: '5%',
                    visible: @User.IsInRole("Admin").ToString().ToLower(),
                    render: function (data, type, row, meta) {
                        console.log(row);
                        return '<a href="#" data-toggle="modal" data-target="#addExpertiseModal" onclick="changeValues(' + data + ', \'' + row.registration + '\')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16"><path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/></svg></a>';
                    }
                },
                {
                    target: 8,
                    data: "id",
                    width: '5%',
                    render: function (data, type, row, meta) {
                        return '<a href="/Vehicles/Detail/' + data + '"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/></svg></a>';
                    }
                },
                {
                    target: 9,
                    data: "id",
                    width: '5%',
                    visible: @User.IsInRole("Admin").ToString().ToLower(),
                    render: function (data, type, row, meta) {
                        return '<a href="/Vehicles/Edit/' + data + '"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/></svg></a>';
                    }
                },
                {
                    target: 10,
                    data: "id",
                    width: '5%',
                    visible: @User.IsInRole("Admin").ToString().ToLower(),
                    render: function (data, type, row, meta) {
                        return '<a href="#" class="text-danger" onclick="removeVehicle(\'' + data + '\')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/></svg></a>';
                    }
                }
            ]
        });

        if(message != null){
            Swal.fire({
                icon: 'success',
                title: message.value.title,
                text: message.value.text,
                customClass: {
                    popup: 'colored-toast',
                },
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
            });
        }
    });

    function removeVehicle(id){
        Swal.fire({
            title: "Voulez-vous supprimer le véhicule ?",
            showCancelButton: true,
            cancelButtonText: "Annuler",
            confirmButtonText: "Oui",
            confirmButtonColor: "#81D5FF"
        }).then(result =>{
            if(result.isConfirmed){
                $.ajax({
                    url: '/Vehicles/RemoveVehicle',
                    data: {
                        id: id,
                    },
                    type: "POST",
                    success: function (data){
                        table.ajax.reload(null, false);
                            Swal.fire({
                            icon: 'success',
                            title: data.message,
                            customClass: {
                                popup: 'colored-toast',
                            },
                            showConfirmButton: false,
                            timer: 1500,
                            timerProgressBar: true,
                        });
                }
            });
        }
});
}

function changeValues(id, registration){
    $('#vehicleId').val(id);
    $('#registration').html(registration);
    $('#date').val('');
    $('#userId').val(@null);
    $('#addExpertiseModal').modal('toggle');
}

function addExpertise(){
    $('#addExpertiseModal').modal('toggle');
    $.ajax({
        url: '/Vehicles/AddExpertise',
        data: {
            id: $('#vehicleId').val(),
            dateTime: $('#date').val(),
            userId: $('#userId').val(),
        },
        type: "POST",
        success: function (data){
            table.ajax.reload(null, false);
            Swal.fire({
                icon: 'success',
                title: data.message,
                customClass: {
                    popup: 'colored-toast',
                },
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
            });
        }
    });
}
</script>
}